<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <script defer src="../static/java.js"></script>
    <title>final</title>
</head>
<body class="home_page"> 
  <ul class="navBar">
    <li class="navBarItem"><a href="./home.html" class="navBarLink">home</a></li>
    <li class="navBarItem"><a href="../views/page1.html" class="navBarLink">my predictions</a></li>
    <li class="navBarItem"><a href="./myTable.html" class="navBarLink">my table</a></li>
    <li class="navBarItem"><a href="./live_result.html" class="navBarLink">live result</a></li>
  </ul>
  <h1>final</h1>
 <center><div class="eighth-1 card">
    <h1 class="headLN">xxx vs yyy</h1>
    <select id="pass" class="field_class" name="password_txt">
        <option value="choose">choose</option>
        <option value="1">netherland</option>
        <option value="2">sanegal</option>
      </select>
</div>
</center>
<center>
<a href="./home.html" class="cup_im"><img src="./cup4.png" height="100px"  ></a>
</center>  
</body>
