<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>world cup</title>
    <link rel="stylesheet" href="../static/css.css">
    <script defer src="../static/java.js"></script>
</head>
<body>
    <body>
        <header>
            <h1>world cup</h1>
        </header>
        <main>
            <form id="login_form" class="form_class" action="/insert" method="post">
                <div class="form_div">
                    <label>user name:</label>
                    <input class="field_class" name="login_txt" type="text">
                    <label>league name:</label> 
                    <!--הקבוצות יהיו לפי מי שיכניס את אותו שם הליגה  כלומר כל הליגות באותו טבלה בדטה בייס-->
                    <input id="pass" class="field_class" name="league_txt" type="password">
                </div>
                <a href="">
                    <button class="submit_class"> sign in</button>
                </a>
            </form>
        </main>
        <footer>
            @powered by Naveh Tehori
        </footer>
    </body>
</body>
</html>
