<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <script defer src="../static/java.js"></script>
    <title>group stage</title>
</head>
<body class="home_page"> 
  <ul class="navBar">
    <li class="navBarItem"><a href="./home.html" class="navBarLink">home</a></li>
    <li class="navBarItem"><a href="../views/page1.html" class="navBarLink">my predictions</a></li>
    <li class="navBarItem"><a href="./myTable.html" class="navBarLink">my table</a></li>
    <li class="navBarItem"><a href="./live_result.html" class="navBarLink">live result</a></li>
  </ul>
  <h1>group stage</h1>
  <div class="cards">
    <center>
  <div class="home1 card">
    <h1 class="headLN">group 1</h1>
    <h6>first team</h6>
    <select id="home11" class="field_class" name="password_txt" onchange="myFunction()>
      <option value="choose">choose</option>
      <option value="1">netherland</option>
      <option value="2">sanegal</option>
      <option value="3">equador</option>
      <option value="4">quatar</option>
    </select>
    <h6>second team</h6>
    <select id="home12" class="field_class" name="password_txt" onchange="myFunction()>
      <option value="choose">choose</option>
      <option value="1">netherland</option>
      <option value="2">sanegal</option>
      <option value="3">equador</option>
      <option value="4">quatar</option>
    </select>
</div>
</center>
<center>
<div class="home2 card">
  <h1 class="headLN">group 2</h1>
  <h6>first team</h6>
  <select id="home21" class="field_class" name="password_txt">
    <option value="choose">choose</option>
    <option value="1">england</option>
    <option value="2">usa</option>
    <option value="3">iran</option>
    <option value="4">wales</option>
  </select>
  <h6>second team</h6>
  <select id="home22" class="field_class" name="password_txt">
    <option value="choose">choose</option>
    <option value="1">england</option>
    <option value="2">usa</option>
    <option value="3">iran</option>
    <option value="4">wales</option>
  </select>
</div>
</center>
<center>
<div class="home3 card">
  <h1 class="headLN">group 3</h1>
  <h6>first team</h6>
  <select id="home31" class="field_class" name="password_txt">
    <option value="choose">choose</option>
    <option value="1">argentina</option>
    <option value="2">poland</option>
    <option value="3">mexico</option>
    <option value="4">saudi arab</option>
  </select>
  <h6>second team</h6>
  <select id="home32" class="field_class" name="password_txt">
    <option value="choose">choose</option>
    <option value="1">argentina</option>
    <option value="2">poland</option>
    <option value="3">mexico</option>
    <option value="4">saudi arab</option>
  </select>
</div>
</center>
<center>
<div class="home4 card">
  <h1 class="headLN">group 4</h1>
  <h6>first team</h6>
    <select id="home41" class="field_class" name="password_txt">
      <option value="choose">choose</option>
      <option value="1">france</option>
      <option value="2">australia</option>
      <option value="3">tunis</option>
      <option value="4">denemark</option>
    </select>
    <h6>second team</h6>
    <select id="home42" class="field_class" name="password_txt">
      <option value="choose">choose</option>
      <option value="1">france</option>
      <option value="2">australia</option>
      <option value="3">tunis</option>
      <option value="4">denemark</option>
    </select>
</div>
</center>
<center>
  <div class="home5 card">
  <h1 class="headLN">group 5</h1>
  <h6>first team</h6>
    <select id="home51" class="field_class" name="password_txt">
      <option value="choose">choose</option>
      <option value="1">japan</option>
      <option value="2">spain</option>
      <option value="3">germany</option>
      <option value="4">costa rica</option>
    </select>
    <h6>second team</h6>
    <select id="home52" class="field_class" name="password_txt">
      <option value="choose">choose</option>
      <option value="1">japan</option>
      <option value="2">spain</option>
      <option value="3">germany</option>
      <option value="4">costa rica</option>
    </select>
</div>
</center>
<center>
<div class="home6 card">
  <h1 class="headLN">group 6</h1>
  <h6>first team</h6>
    <select id="home61" class="field_class" name="password_txt">
      <option value="choose">choose</option>
      <option value="1">morocco</option>
      <option value="2">croatia</option>
      <option value="3">belgium</option>
      <option value="4">canada</option>
    </select>
    <h6>second team</h6>
    <select id="home62" class="field_class" name="password_txt">
      <option value="choose">choose</option>
      <option value="1">morocco</option>
      <option value="2">croatia</option>
      <option value="3">belgium</option>
      <option value="4">canada</option>
    </select>
</div>
</center>
<center>
<div class="home7 card">
  <h1 class="headLN">group 7</h1>
  <h6>first team</h6>
    <select id="home71" class="field_class" name="password_txt">
      <option value="choose">choose</option>
      <option value="1">brazil</option>
      <option value="2">switzerland</option>
      <option value="3">cameroon</option>
      <option value="4">serbia</option>
    </select>
    <h6>second team</h6>
    <select id="home72" class="field_class" name="password_txt">
      <option value="choose">choose</option>
      <option value="1">brazil</option>
      <option value="2">switzerland</option>
      <option value="3">cameroon</option>
      <option value="4">serbia</option>
    </select>
</div>
</center>
<center>
<div class="home8 card">
  <h1 class="headLN">group 8</h1>
  <h6>first team</h6>
    <select id="home81" class="field_class" name="password_txt">
      <option value="choose">choose</option>
      <option value="1">portugal</option>
      <option value="2">south korea</option>
      <option value="3">uruguay</option>
      <option value="4">gana</option>
    </select>
    <h6>second team</h6>
    <select id="home82" class="field_class" name="password_txt">
      <option value="choose">choose</option>
      <option value="1">portugal</option>
      <option value="2">south korea</option>
      <option value="3">uruguay</option>
      <option value="4">gana</option>
    </select>
</div>
</center>
</div>
<a href="../views/knockout.html">
  <button class="knockout_level">to knockout level</button>
</a>
</body>
</html>